{% extends "HampeZurbInkBundle:FoundationForEmails:2/base.html.twig" %}

{% block additionalStyles %}
    {{ zurb_ink_styles.add("@AppBundle/Resources/public/css/mail.css") }}
{% endblock %}

{% block content %}
    {% if show_devel_top_bar is defined and show_devel_top_bar == true %}
        <callout class="alert">
            <row>
                <columns>
                    <p class="text-right">[ mode previsualització ]</p>
                </columns>
            </row>
        </callout>
    {% endif %}
    <container>
        {% block template %}{% endblock template %}
        <row>
            <callout style="background-color:#21A5D6;border-color:#21A5D6">
                <row>
                    <columns>
                        <p class="footer">{{ main_brand_title }} | <a style="color:#FFFFFF;" href="mailto:{{ main_brand_email }}">{{ main_brand_email }}</a></p>
                        {#<br>#}
                        {#<p class="footer">El correo electrónico no garantiza la seguridad de las comunicaciones, no asumiendo {{ main_brand_title }} responsabilidad alguna como consecuencia de ello. Este mensaje se dirige, de modo exclusivo, a su destinatario y contiene información confidencial, sujeta al secreto profesional, cuya divulgación, copia o utilización no autorizada es contraria a la ley. Si recibe este mensaje por error, le rogamos nos lo comunique de inmediato y lo elimine sin conservar copia del mismo ni de sus documentos adjuntos.</p>#}
                    </columns>
                </row>
            </callout>
        </row>
    </container>
{% endblock %}
