{% extends ':frontend:base.html.twig' %}

{% block body %}

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="five wide column">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th colspan="7">Juliol 2017</th>
                            </tr>
                            <tr>
                                <th>Dl.</th>
                                <th>Dt.</th>
                                <th>Dc.</th>
                                <th>Dj.</th>
                                <th>Dv.</th>
                                <th>Ds.</th>
                                <th>Dg.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td>1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                {{ drawTdAvailavility(15, 7, 2017) | raw }}
                                {{ drawTdAvailavility(16, 7, 2017) | raw }}
                            </tr>
                            <tr>
                                {{ drawTdAvailavility(17, 7, 2017) | raw }}
                                {{ drawTdAvailavility(18, 7, 2017) | raw }}
                                {{ drawTdAvailavility(19, 7, 2017) | raw }}
                                {{ drawTdAvailavility(20, 7, 2017) | raw }}
                                {{ drawTdAvailavility(21, 7, 2017) | raw }}
                                {{ drawTdAvailavility(22, 7, 2017) | raw }}
                                {{ drawTdAvailavility(23, 7, 2017) | raw }}
                            </tr>
                            <tr>
                                {{ drawTdAvailavility(24, 7, 2017) | raw }}
                                {{ drawTdAvailavility(25, 7, 2017) | raw }}
                                {{ drawTdAvailavility(26, 7, 2017) | raw }}
                                {{ drawTdAvailavility(27, 7, 2017) | raw }}
                                {{ drawTdAvailavility(28, 7, 2017) | raw }}
                                {{ drawTdAvailavility(29, 7, 2017) | raw }}
                                {{ drawTdAvailavility(30, 7, 2017) | raw }}
                            </tr>
                            <tr>
                                {{ drawTdAvailavility(31, 7, 2017) | raw }}
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="five wide column">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th colspan="7">Agost 2017</th>
                            </tr>
                            <tr>
                                <th>Dl.</th>
                                <th>Dt.</th>
                                <th>Dc.</th>
                                <th>Dj.</th>
                                <th>Dv.</th>
                                <th>Ds.</th>
                                <th>Dg.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="active item"></td>
                                {{ drawTdAvailavility(1, 8, 2017) | raw }}
                                {{ drawTdAvailavility(2, 8, 2017) | raw }}
                                {{ drawTdAvailavility(3, 8, 2017) | raw }}
                                {{ drawTdAvailavility(4, 8, 2017) | raw }}
                                {{ drawTdAvailavility(5, 8, 2017) | raw }}
                                {{ drawTdAvailavility(6, 8, 2017) | raw }}
                            </tr>
                            <tr>
                                {{ drawTdAvailavility(7, 8, 2017) | raw }}
                                {{ drawTdAvailavility(8, 8, 2017) | raw }}
                                {{ drawTdAvailavility(9, 8, 2017) | raw }}
                                {{ drawTdAvailavility(10, 8, 2017) | raw }}
                                {{ drawTdAvailavility(11, 8, 2017) | raw }}
                                {{ drawTdAvailavility(12, 8, 2017) | raw }}
                                {{ drawTdAvailavility(13, 8, 2017) | raw }}
                            </tr>
                            <tr>
                                {{ drawTdAvailavility(14, 8, 2017) | raw }}
                                {{ drawTdAvailavility(15, 8, 2017) | raw }}
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                                <td class="active item"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="twelve wide column">
                    <p>Sel·lecciona el dia que us faria il·lusió dominar a la torre de la Corrava i seguiu les instruccions del formulari.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">

                <div class="sixteen wide column">
                    <div class="sixteen wide right floated column">
                        <img src="https://semantic-ui.com/examples/assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
